#tswcssbuttons {
  width: 90%;
  max-width: 100%;
  text-align: center;
}

#tswcssbuttons ul {
  margin: 0px;
  padding: 0px;
  list-style: outside none none;
}

#tswcssbuttons li {
  margin: 0px;
  padding: 0px;
  display: block;
  list-style: outside none none;
  font-family: Arial, Helvetica, sans-serif;
}

#tswcssbuttons li a {
  color: white;
  background-color: black;
  border: 1px outset #f0f0f0;
  text-decoration: none;
  display: block;
}

#tswcssbuttons li a:hover {
  color: black;
  background-color: silver;
}

span {
  color: white;
  background-color: black;
}

div {
  color: white !important;
  font-family: "Arial", "Helvetica", "sans-serif";
}

a {
  color: white;
}

#cow {
  display: block;
  float: left;
}

#blush {
  display: block;
  float: left;
}

#cloutdog {
  display: block;
  float: left;
}

#krassenstein {
  display: block;
  float: left;
}

#bitclub {
  float: left;
}

#pixelglasses {
  display: block;
  float: left;
}

#cloutdragon016 {
  display: block;
  float: left;
}

#cloutdragonunleashed {
  display: block;
  float: left;
}

#mountainroad {
  display: block;
  float: left;
}

#cloutgiraffes54 {
  display: block;
  float: left;
}

#cloutgiraffes89 {
  display: block;
  float: left;
}

#cloutgiraffes53 {
  display: block;
  float: left;
}

#rabbits005 {
  display: block;
  float: left;
}

#rabbits {
  display: block;
  float: left;
}

#parallel {
  display: block;
  float: left;
}

#cool {
  display: block;
}

#buddy {
  display: block;
}

#biancabeyou {
  display: block;
}

#bianca999 {
  display: block;
}

#mick1 {
  display: block;
  float: left;
  margin-right: 10px;
}

#mick2 {
  display: block;
  margin-right: 10px;
  margin-bottom: 5px;
  float: left;
}

#mick3 {
  display: block;
  margin-right: 10px;
  margin-bottom: 5px;
  float: left;
}

#mick4-2 {
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}

#mick5 {
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}

#mick6 {
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}

#mick7 {
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}

#mick8 {
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}

#mick9 {
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}

#mick {
  display: block;
  float: left;
  margin-right: 20px;
  margin-bottom: 5px;
}

#mick10 {
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}

#mick11 {
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}

#mick12 {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}

#mick13 {
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}

#mick14 {
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}

#mick15 {
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}

#robert1 {
  display: block;
}

#robert2 {
  display: block;
}

#robert3 {
  display: block;
}

#john1 {
  display: block;
  float: left;
}

#john2 {
  display: block;
  float: left;
}

#marsgoat253 {
  display: block;
  margin-right: 10px;
  float: left;
  margin-bottom: 10px;
}

#marsgoat2663 {
  display: block;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
}

#rarelf-water {
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

#hightops {
  display: block;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
}

#notwearing {
  display: block;
  margin-right: 10px;
  margin-bottom: 5px;
  float: left;
}

#waiting {
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

#jeansblauw {
  display: block;
  float: left;
  margin-right: 10px;
}

#mickblue {
  display: block;
  margin-right: 20px;
  margin-bottom: 5px;
  float: left;
  margin-top: 5px;
}

#mickcolor {
  display: block;
  float: left;
  margin-right: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
}

#mickblocks {
  display: block;
  margin-right: 20px;
  margin-bottom: 10px;
  float: left;
  margin-top: 5px;
}

#mickbrown {
  display: block;
  margin-top: 5px;
  margin-right: 20px;
  margin-bottom: 10px;
  float: left;
}

#mickpurple {
  display: block;
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 5px;
}

h3 {
  color: white;
}

